---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="post-meta" style="float:right;">{{ post.date | date: "%b %-d, %Y" }}</span>
        </h2>
        {% if site.excerpt_separator %}
        <p>{{ post.excerpt }}<p>
        {% else %}
        <p>{{ post.content }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>