---
layout: default
---

<div class="home">

  <h1 class="page-heading">Latest Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="post-meta" style="float:right; font-size:10px; padding-right:30px;">{{ post.date | date: "%b %-d, %Y" }}</span>
        </h2>
        {% if site.excerpt_separator %}
        <p>{{ post.excerpt }}<p><a style="text-align:right;" href="{{post.url}}">>>Read More...</a>
        {% else %}
        <p>{{ post.content }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h3 style="text-align:center;"><a href="{{site.url}}/archive.html">--- More Posts ---</a><h3>

</div>