---
layout: default
---


<article class="single row gutters">
  <h2>{{ page.title }}</h2>
	
  {{ content }}
  
  <hr>
  <div class="copyright">
	<p><strong>本文固定链接：</strong><a href='{{page.url}}'>{{page.url}}</a></p>
	<p><strong>原创文章,转载请注明出处：</strong><a href='{ {page.url}}'>TegaByte Blog</a></p>
  </div>
  
  <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ post.title }}" data-title="{{ post.title }}" data-url="{{ site.baseurl }}{{ post.url }}"></div>
  <!-- 多说评论框 end -->
</article>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"tegabyte"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	
</script>
<!-- 多说公共JS代码 end -->

<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function(){
    var backToTopTxt = "▲", backToTopEle = jQuery('<div class="backToTop"></div>').appendTo(jQuery("body")).text(backToTopTxt).attr("title","Back top top").click(function() {
        jQuery("html, body").animate({ scrollTop: 0 }, 120);
    }), backToTopFun = function() {
        var st = jQuery(document).scrollTop(), winh = jQuery(window).height();
        (st > 200)? backToTopEle.show(): backToTopEle.hide();    
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            backToTopEle.css("top", st + winh - 166); 
        }
    };

    backToTopEle.hide(); 
        jQuery(window).bind("scroll", backToTopFun);
    jQuery('div.main a,div.pic a').attr('target', '_blank');
});
</script>