---
layout: default
---


<article class="single row gutters">
  <h2 name="top">{{ page.title }}</h2>
  <p>
	<span><img src="http://tegabyte.qiniudn.com/calendar_alt_stroke.png" width="15px" height="15px" style="margin-bottom: 0px;"/>{{page.date | date: "%Y-%m-%d"}}</span>&nbsp;&nbsp;
	<span><img src="http://tegabyte.qiniudn.com/author.png" width="15px" height="15px" style="margin-bottom: 0px;"/>{{page.author}}</span>&nbsp;&nbsp;
	<span><img src="http://tegabyte.qiniudn.com/tag.png" width="15px" height="15px" style="margin-bottom: 0px;"/>{{page.categories}}</span>
	<!--&nbsp;&nbsp;<span><img src="http://tegabyte.qiniudn.com/tag.png" width="15px" height="15px" style="margin-bottom: 0px;"/>{{page.tags}}</span>-->
  </p>
	
  {{ content }}
  
  <a href="#top"><hr></a>
  <div class="copyright">
	<p><strong>本文固定链接：</strong><a href='{{page.url}}'>{{page.url}}</a></p>
	<p><strong>原创文章,转载请注明出处：</strong><a href='http://tegabyte.com'>TegaByte Blog</a></p>
  </div>
  
  <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.baseurl }}{{ page.url }}"></div>
  <!-- 多说评论框 end -->
</article>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"tegabyte"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	
</script>
<!-- 多说公共JS代码 end -->