---
layout: default
---


<article class="single row gutters">
  <h2>{{ page.title }}</h2>
  
  <div class="c9">
    分类：
        { %for cg in post.categories % }
        <a href="/categories.html#-ref"></a>
        { %if forloop.index < forloop.length % }
        ,
        { %endif%}
        { %endfor%}
    |
    标签：
        { %for cg in post.tags %}
        <a href="/tags.html#-ref"></a>
        { %if forloop.index < forloop.length %}
        ,
        { %endif%}
        { %endfor%}
    |
    时间：<time date="{ { post.date|date: '%Y-%m-%d' }}"></time>
  </div>
	
  {{ content }}
  
  <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ post.title }}" data-title="{{ post.title }}" data-url="{{ site.baseurl }}{{ post.url }}"></div>
  <!-- 多说评论框 end -->
</article>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"tegabyte"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	
</script>
<!-- 多说公共JS代码 end -->

